<div class="login-card">
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Anmelden"><div class="register-container">
      <mat-form-field>
        <input matInput placeholder="Enter your email" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter your password" [formControl]="password" required>
        <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <button mat-raised-button (click)="signIn()" color="primary">Sign In</button>
    </div>
    </mat-tab>

    <mat-tab label="Registrieren">
      <div class="register-container">
        <mat-form-field>
          <input matInput placeholder="Enter your firstname" [formControl]="firstname" required>
          <mat-error *ngIf="firstname.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Enter your lastname" [formControl]="lastname" required>
          <mat-error *ngIf="lastname.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Enter your email" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Enter your password" [formControl]="password" required>
          <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="signUp()"
                [disabled]="firstname.invalid ||
                  lastname.invalid ||
                  email.invalid ||
                  password.invalid">
          Sign Up
        </button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
